# Default owners
*       @coderco/platform

# Modules
/modules/vpc/        @coderco/networking
/modules/ecr/        @coderco/platform
/modules/rds/        @coderco/data
/modules/eks/        @coderco/kubernetes

# Stacks
/stacks/prod/        @coderco/platform @coderco/security
